<a href="https://colab.research.google.com/github/Esantomi/digital-humanities/blob/main/%EC%8A%A4%ED%81%AC%EB%9E%98%ED%95%91_%EC%98%81%ED%99%94%EB%A6%AC%EB%B7%B0_82%EB%85%84%EC%83%9D_%EA%B9%80%EC%A7%80%EC%98%81_%EB%84%A4%EC%9D%B4%EB%B2%84%EC%98%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 82년생 김지영_네이버 영화 댓글 수집

-- 82년생 김지영 영화 메인
https://movie.naver.com/movie/bi/mi/basic.nhn?code=179482



-- 덧글 리스트

https://movie.naver.com/movie/bi/mi/pointWriteFormList.nhn?code=179482&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false&page=1


https://movie.naver.com/movie/bi/mi/pointWriteFormList.nhn?code=179482&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false&page=2

In [ ]:
# 필요 라이브러리 불러오기
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import pandas as pd

In [ ]:
## 데이터 수집
# 82년생 김지영 고윳값=179482 / 총 덧글수=47449

movieid = 179482
total_count = 47449  ## 전체 크기=47,449

urlfit = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.nhn?code='+str(movieid)+'&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false'

segment=[]

for i in range(1, int(total_count / 10) + 1):
    url = urlfit + '&page=' + str(i)
    print(str(i) + ' 번째 페이지 parsing....')

    resp = requests.get(url)
    html = BeautifulSoup(resp.content, 'html.parser')
    score_result = html.find('div', {'class': 'score_result'})
    lis = score_result.findAll('li')
    for li in lis:
        try:
          watch_movie = li.find('span', {'class':'ico_viewer'}).extract().getText()
        except:
          watch_movie = 0
        nickname = li.findAll('em')[1].find('a').find('span').getText()
        created_at = datetime.strptime(li.find('dt').findAll('em')[1].getText(), "%Y.%m.%d %H:%M")
        review_text = li.find('p').find('span').getText().strip()
        score = li.find('em').getText()
        btn_likes = li.find('div', {'class': 'btn_area'}).findAll('strong')
        like = btn_likes[0].getText()
        dislike = btn_likes[1].getText()


        fullinfo = [nickname, review_text, score, like, dislike, created_at, watch_movie]
        segment.append(fullinfo)

1 번째 페이지 parsing....
2 번째 페이지 parsing....
3 번째 페이지 parsing....
4 번째 페이지 parsing....
5 번째 페이지 parsing....
6 번째 페이지 parsing....
7 번째 페이지 parsing....
8 번째 페이지 parsing....
9 번째 페이지 parsing....
10 번째 페이지 parsing....
11 번째 페이지 parsing....
12 번째 페이지 parsing....
13 번째 페이지 parsing....
14 번째 페이지 parsing....
15 번째 페이지 parsing....
16 번째 페이지 parsing....
17 번째 페이지 parsing....
18 번째 페이지 parsing....
19 번째 페이지 parsing....
20 번째 페이지 parsing....
21 번째 페이지 parsing....
22 번째 페이지 parsing....
23 번째 페이지 parsing....
24 번째 페이지 parsing....
25 번째 페이지 parsing....
26 번째 페이지 parsing....
27 번째 페이지 parsing....
28 번째 페이지 parsing....
29 번째 페이지 parsing....
30 번째 페이지 parsing....
31 번째 페이지 parsing....
32 번째 페이지 parsing....
33 번째 페이지 parsing....
34 번째 페이지 parsing....
35 번째 페이지 parsing....
36 번째 페이지 parsing....
37 번째 페이지 parsing....
38 번째 페이지 parsing....
39 번째 페이지 parsing....
40 번째 페이지 parsing....
41 번째 페이지 parsing....
42 번째 페이지 parsing....
43 번째 페이지 parsing....
44 번째 페이지 parsing....
45 번째 페이지 parsing....
46 번째 페이지 parsing....
47 번째 페이지 parsing....
48 번째 페이지 parsing....
49 번째 페이지 parsing....
50 번째 페이지 parsing....
51 번째 페이지 parsing....
52 번째 페이지 parsing....
53 번째 페이지 parsing....
54 번째 페이지 parsing....
55 번째 페이지 parsing....
56 번째 페이지 parsing....
57 번째 페이지 parsing....
58 번째 페이지 parsing....
59 번째 페이지 parsing....
60 번째 페이지 parsing....
61 번째 페이지 parsing....
62 번째 페이지 parsing....
63 번째 페이지 parsing....
64 번째 페이지 parsing....
65 번째 페이지 parsing....
66 번째 페이지 parsing....
67 번째 페이지 parsing....
68 번째 페이지 parsing....
69 번째 페이지 parsing....
70 번째 페이지 parsing....
71 번째 페이지 parsing....
72 번째 페이지 parsing....
73 번째 페이지 parsing....
74 번째 페이지 parsing....
75 번째 페이지 parsing....
76 번째 페이지 parsing....
77 번째 페이지 parsing....
78 번째 페이지 parsing....
79 번째 페이지 parsing....
80 번째 페이지 parsing....
81 번째 페이지 parsing....
82 번째 페이지 parsing....
83 번째 페이지 parsing....
84 번째 페이지 parsing....
85 번째 페이지 parsing....
86 번째 페이지 parsing....
87 번째 페이지 parsing....
88 번째 페이지 parsing....
89 번째 페이지 parsing....
90 번째 페이지 parsing....
91 번째 페이지 parsing....
92 번째 페이지 parsing....
93 번째 페이지 parsing....
94 번째 페이지 parsing....
95 번째 페이지 parsing....

In [ ]:
# 결과를 dataFrame으로 변환
moviere = pd.DataFrame(segment)
moviere

                          0  ...    6
0    liu zhuoheng(zhuo****)  ...    0
1             강경섭(ming****)  ...    0
2              흐허(yng0****)  ...    0
3             장준도(tosh****)  ...    0
4                  zmsq****  ...    0
..                      ...  ...  ...
945          벼락식혜(skdl****)  ...    0
946          레지던트(spik****)  ...    0
947             ㅠ(dlgu****)  ...  관람객
948       가자고고고씽씽(good****)  ...  관람객
949      gogolizy(gogo****)  ...    0

[950 rows x 7 columns]

In [ ]:
## 컬럼 이름 변경
moviere.columns = ["nickname","text","score","like","dislike","time","watch_movie"]
moviere

                   nickname  ... watch_movie
0    liu zhuoheng(zhuo****)  ...           0
1             강경섭(ming****)  ...           0
2              흐허(yng0****)  ...           0
3             장준도(tosh****)  ...           0
4                  zmsq****  ...           0
..                      ...  ...         ...
945          벼락식혜(skdl****)  ...           0
946          레지던트(spik****)  ...           0
947             ㅠ(dlgu****)  ...         관람객
948       가자고고고씽씽(good****)  ...         관람객
949      gogolizy(gogo****)  ...           0

[950 rows x 7 columns]

In [ ]:
## CSV로 저장
moviere.to_csv('moviere.csv', header='true', encoding='utf-8')