<a href="https://colab.research.google.com/github/Esantomi/digital-humanities/blob/main/lectures/%EC%9D%B8%EB%AC%B8%EC%A7%80%EC%8B%9D%EC%B2%98%EB%A6%AC%EC%99%80%ED%86%B5%EA%B3%84/04_N-Gram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title N-Gram - 띄어쓰기 기준 분리
문장 = '\uC6C3\uC5B4\uB77C, \uC628 \uC138\uC0C1\uC774 \uB108\uC640 \uD568\uAED8 \uC6C3\uC744 \uAC83\uC774\uB2E4. \uC6B8\uC5B4\uB77C, \uB108 \uD63C\uC790 \uC6B8\uAC83\uC774\uB2E4.'  #@param {type: "string"}
NGram크기 = "3" #@param ["1", "2", "3", "4", "5", "6"] {allow-input: true}

from nltk import ngrams

ngrams = ngrams(문장.split(), int(NGram크기))

for grams in ngrams:
  print(grams)

('웃어라,', '온', '세상이')
('온', '세상이', '너와')
('세상이', '너와', '함께')
('너와', '함께', '웃을')
('함께', '웃을', '것이다.')
('웃을', '것이다.', '울어라,')
('것이다.', '울어라,', '너')
('울어라,', '너', '혼자')
('너', '혼자', '울것이다.')

In [ ]:
#@title N-Gram - 1글자 기준 분리
문장 = '\u6211\u7231\u4F60\u3002\u5982\u679C\u8981\u5728\u4E2A\u5206\u611F\u60C5\u4E0A\u52A0\u4E0A\u4E00\u4E2A\u671F\u9650\u7684\u8BDD\u6211\u5E0C\u671B\u662F\u6709\u4E07\u5E74\uFF01'  #@param {type: "string"}
NGram크기 = "2" #@param ["1", "2", "3", "4", "5", "6"] {allow-input: true}

from nltk import ngrams

ngrams = list(ngrams(문장, int(NGram크기)))

for grams in ngrams:
  print(grams)

('我', '爱')
('爱', '你')
('你', '。')
('。', '如')
('如', '果')
('果', '要')
('要', '在')
('在', '个')
('个', '分')
('分', '感')
('感', '情')
('情', '上')
('上', '加')
('加', '上')
('上', '一')
('一', '个')
('个', '期')
('期', '限')
('限', '的')
('的', '话')
('话', '我')
('我', '希')
('希', '望')
('望', '是')
('是', '有')
('有', '万')
('万', '年')
('年', '！')

##N-Gram 실전

### 데이터 불러오기

In [ ]:
# 구글 드라이브 연결을 위한 기본 세팅
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
## 문서 ID로 실제 파일 불러오기
# 실습을 위한 rawdata_사기열전_utf8.tsv.txt
## https://drive.google.com/file/d/1xWS1lvRRGyr9iIAl-BFzPxEz3bQO9Dd_/view?usp=sharing

##양선혜(소림광기데이터)_UTF8.tsv
##https://drive.google.com/file/d/1w9OxwpWmAwGUeOYgyqe79wSyzr_VitFN/view?usp=sharing

## 문준혜 한서
## https://drive.google.com/file/d/1wdDqcVRPgwC98mmlDjNycVjfZ3D36BsX/view?usp=sharing

rawdata_downloaded = drive.CreateFile({'id': '1xWS1lvRRGyr9iIAl-BFzPxEz3bQO9Dd_'})
rawdata_downloaded.GetContentFile('rawdata.tsv')

In [ ]:
import pandas as pd

# "rawdata.tsv" 파일의 내용을 "원본데이터" 변수로 불러오기
rawdata = pd.read_csv('rawdata.tsv', sep="\t")
rawdata

   id person    type                                               text
0   1   伯夷叔齊    伯夷列傳  夫學者載籍極博，猶考信於六蓺。詩書雖缺，然虞夏之文可知也。堯將遜位，讓於虞舜，舜禹之閒，岳牧...
1   2     管仲    管晏列傳  管仲夷吾者，潁上人也。少時常與鮑叔牙游，鮑叔知其賢。管仲貧困，常欺鮑叔，鮑叔終善遇之，不以為...
2   3     晏嬰    管晏列傳  晏平仲嬰者，萊之夷維人也。事齊靈公、莊公、景公，以節儉力行重於齊。既相齊，食不重肉，妾不衣帛...
3   4     老子  老子韓非列傳  老子者，楚苦縣厲鄉曲仁裏人也，姓李氏，名耳，字摐，周守藏室之史也。\r\n孔子適周，將問禮於...
4   5     莊子  老子韓非列傳  莊子者，蒙人也，名周。周嘗為蒙漆園吏，與梁惠王、齊宣王同時。其學無所不闚，然其要本歸於老子之...
5   6    申不害  老子韓非列傳  申不害者，京人也，故鄭之賤臣。學術以幹韓昭侯，昭侯用為相。內脩政教，外應諸侯，十五年。終申子...
6   7    韓非者  老子韓非列傳  韓非者，韓之諸公子也。喜刑名法術之學，而其歸本於黃老。非為人口吃，不能道說，而善著書。與李斯...
7   8   司馬穰苴  司馬穰苴列傳  司馬穰苴者，田完之苗裔也。齊景公時，晉伐阿、甄，而燕侵河上，齊師敗績。景公患之。晏嬰乃薦田穰...
8   9     孙武  孫子吳起列傳  孫子武者，齊人也。以兵法見於吳王闔廬。闔廬曰：「子之十三篇，吾盡觀之矣，可以小試勒兵乎？」對...
9  10     吳起  孫子吳起列傳  吳起者，衛人也，好用兵。嘗學於曾子，事魯君。齊人攻魯，魯欲將吳起，吳起取齊女為妻，而魯疑之。...

In [ ]:
from nltk import ngrams

NGram크기 = 1

def nltkngrams(문장):
  n_grams = list(ngrams(문장, int(NGram크기)))
  return [ ''.join(grams) for grams in n_grams]

In [ ]:
# "원본데이터"를 대상으로 "jieba"를 사용해서 형태소 분석하기
저장공간  = [] ## 모든 결과를 저장할 빈 공간으로 "저장공간" 설정

for index, row in rawdata.iterrows():# 원본데이터의 컬럼(열)을 불러와서 반복할 준비!
    textdata = row[3]  # 분석에서 사용할 텍스트 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    type = row[1]  # 분석에서 사용할 분류 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    Ngram = nltkngrams(textdata) 
    for grams in Ngram: 
      형태소종합 = [grams, type,1]  # 형태소종합에 분류정보와 카운트정보를 추가한다.
      저장공간.append(형태소종합) # 형태소종합의 내용을 종합하여 저장한다.

In [ ]:
# 단일 데이터프레임 구조로 변환
분석통합 = pd.DataFrame(저장공간)
# "분석통합" 변수의 컬럼(열) 이름 변경
분석통합.columns = ["한자", "분류", "카운트"]
# "분석통합" 변수의 저장 내용 확인
분석통합

     한자    분류  카운트
0     夫  伯夷叔齊    1
1     學  伯夷叔齊    1
2     者  伯夷叔齊    1
3     載  伯夷叔齊    1
4     籍  伯夷叔齊    1
...  ..   ...  ...
8700  軀    吳起    1
8701  。    吳起    1
8702  悲    吳起    1
8703  夫    吳起    1
8704  ！    吳起    1

[8705 rows x 3 columns]

In [ ]:
# "분석통합" 변수의 내용을 ngram분리, 분류가 같은 것을 합치고, 카운트의 총합을 구해서 "그룹통합" 변수에 저장한다.
그룹통합 = 분석통합.groupby(['한자', "분류"])['카운트'].sum()
# "그룹통합" 변수의 내용을 데이터프레임 형식으로 변환해서 "그룹통합" 변수에 저장한다.
그룹통합 = pd.DataFrame(그룹통합)
그룹통합

         카운트
한자 분류
\n 伯夷叔齊    4
   司馬穰苴    3
   吳起     10
   孙武      4
   晏嬰      5
...      ...
？  孙武      3
   晏嬰      4
   老子      1
   莊子      2
   韓非者     2

[2822 rows x 1 columns]

In [ ]:
# "그룹통합" 변수의 내용을 "(n그램 크기) + gram_분석결과.csv" 파일로 저장한다.
# header는 컬럼(열) 정보의 포함 여부이다.
# encoding은 문자코드를 선택하는 것이다. python에서는 기본적으로 utf-8(유니코드)를 사용한다.

그룹통합.to_csv(str(NGram크기)+'gram_분석결과.csv', header='true', encoding='utf-8')