<a href="https://colab.research.google.com/github/Esantomi/digital-humanities/blob/main/%EC%9D%B8%EB%AC%B8%EC%A7%80%EC%8B%9D%EC%B2%98%EB%A6%AC%EC%99%80%ED%86%B5%EA%B3%84/%ED%98%95%ED%83%9C%EC%86%8C%EB%B6%84%EC%84%9D/%ED%98%95%ED%83%9C%EC%86%8C%EB%B6%84%EC%84%9D_%ED%95%9C%EA%B5%AD%EC%96%B4_%EC%8B%AC%ED%99%94_kiwi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://github.com/bab2min/Kiwi

## kiwi 맛보기

In [ ]:
!pip install --upgrade pip
!pip install kiwipiepy

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)
Collecting pip
  Downloading pip-22.0.4-py3-none-any.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 5.4 MB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
Successfully installed pip-22.0.4
Collecting kiwipiepy
  Downloading kiwipiepy-0.11.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (850 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 850.5/850.5 KB 15.3 MB/s eta 0:00:00
Collecting kiwipiepy-model~=0.11
  Downloading kiwipiepy_model-0.11.0.tar.gz (26.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.5/26.5 MB 28.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: kiwipiepy-model
  Building wheel for kiwipiepy-model (setup.py) ... done
  Created wheel for kiwipiepy-model: filename=kiwipiepy_model-0.11.0-py3-none-any.whl size=26552558 sha256=58f7d389c7253696b2704192c782f4bead6bfb598418155d568c5b59f7a1d744
  Stored in directory: /root/.cache/pip/wheels/99/c9/8d/87f32d82825c0739691bc02c7e3a1c6d79dbc9455f955311d4
Successfully built kiwipiepy-model
Installing collected packages: kiwipiepy-model, kiwipiepy
Successfully installed kiwipiepy-0.11.2 kiwipiepy-model-0.11.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
from kiwipiepy import Kiwi
kiwi = Kiwi()

print("########## 기본 형태소 분석 ##########")
kiwi.tokenize("안녕하세요 형태소 분석기 키위입니다.")

########## 기본 형태소 분석 ##########

[Token(form='안녕', tag='NNG', start=0, len=2),
 Token(form='하', tag='XSA', start=2, len=1),
 Token(form='시', tag='EP', start=3, len=1),
 Token(form='어요', tag='EC', start=3, len=2),
 Token(form='형태소', tag='NNG', start=6, len=3),
 Token(form='분석기', tag='NNG', start=10, len=3),
 Token(form='키위', tag='NNG', start=14, len=2),
 Token(form='이', tag='VCP', start=16, len=1),
 Token(form='ᆸ니다', tag='EF', start=16, len=3),
 Token(form='.', tag='SF', start=19, len=1)]

In [ ]:
# normalize_coda 옵션을 사용하면 
# 덧붙은 받침 때문에 분석이 깨지는 경우를 방지할 수 있습니다.
print("########## 기본 형태소 분석 + normalize_coda ##########")
kiwi.tokenize("ㅋㅋㅋ 이런 것도 분석이 될까욬ㅋㅋ?", normalize_coda=True)

########## 기본 형태소 분석 + normalize_coda ##########

[Token(form='ㅋㅋㅋ', tag='SW', start=0, len=3),
 Token(form='이런', tag='MM', start=4, len=2),
 Token(form='것', tag='NNB', start=7, len=1),
 Token(form='도', tag='JX', start=8, len=1),
 Token(form='분석', tag='NNG', start=10, len=2),
 Token(form='이', tag='JKC', start=12, len=1),
 Token(form='되', tag='VV', start=14, len=1),
 Token(form='ᆯ까요', tag='EF', start=14, len=3),
 Token(form='ㅋㅋㅋ', tag='SW', start=16, len=3),
 Token(form='?', tag='SF', start=19, len=1)]

In [ ]:
# 불용어 관리를 위한 Stopwords 클래스도 제공합니다.
from kiwipiepy.utils import Stopwords
stopwords = Stopwords()
print("########## 기본 형태소 분석 + Stopwords ##########")
kiwi.tokenize("분석 결과에서 불용어만 제외하고 출력할 수도 있다.", stopwords=stopwords)

########## 기본 형태소 분석 + Stopwords ##########

[Token(form='분석', tag='NNG', start=0, len=2),
 Token(form='결과', tag='NNG', start=3, len=2),
 Token(form='불', tag='NNG', start=8, len=1),
 Token(form='용어', tag='NNG', start=9, len=2),
 Token(form='제외', tag='NNG', start=13, len=2),
 Token(form='출력', tag='NNG', start=18, len=2)]

In [ ]:
# add, remove 메소드를 이용해 불용어 목록에 단어를 추가하거나 삭제할 수도 있습니다.
print("########## 기본 형태소 분석 + Stopwords + 사용자사전 ##########")
stopwords.add(('결과', 'NNG'))
kiwi.tokenize("분석 결과에서 불용어만 제외하고 출력할 수도 있다.", stopwords=stopwords)

########## 기본 형태소 분석 + Stopwords + 사용자사전 ##########

[Token(form='분석', tag='NNG', start=0, len=2),
 Token(form='불', tag='NNG', start=8, len=1),
 Token(form='용어', tag='NNG', start=9, len=2),
 Token(form='제외', tag='NNG', start=13, len=2),
 Token(form='출력', tag='NNG', start=18, len=2)]

In [ ]:
kiwi.split_into_sents("여러 문장으로 구성된 텍스트네 이걸 분리해줘", return_tokens=True)

[Sentence(text='여러 문장으로 구성된 텍스트네', start=0, end=16, tokens=[Token(form='여러', tag='MM', start=0, len=2), Token(form='문장', tag='NNG', start=3, len=2), Token(form='으로', tag='JKB', start=5, len=2), Token(form='구성', tag='NNG', start=8, len=2), Token(form='되', tag='XSV', start=10, len=1), Token(form='ᆫ', tag='ETM', start=10, len=1), Token(form='텍스트', tag='NNG', start=12, len=3), Token(form='이', tag='VCP', start=15, len=0), Token(form='네', tag='EF', start=15, len=1)]),
 Sentence(text='이걸 분리해줘', start=17, end=24, tokens=[Token(form='이거', tag='NP', start=17, len=2), Token(form='ᆯ', tag='JKO', start=18, len=1), Token(form='분리', tag='NNG', start=20, len=2), Token(form='하', tag='XSV', start=22, len=1), Token(form='어', tag='EC', start=22, len=1), Token(form='주', tag='VX', start=23, len=1), Token(form='어', tag='EF', start=23, len=1)])]

In [ ]:
kiwi.add_user_word("김갑갑", "NNP")
kiwi.tokenize("김갑갑이 누구야")

[Token(form='김갑갑', tag='NNP', start=0, len=3),
 Token(form='이', tag='JKS', start=3, len=1),
 Token(form='누구', tag='NP', start=5, len=2),
 Token(form='야', tag='JX', start=7, len=1)]

## kiwi 실전

In [ ]:
!pip install --upgrade pip
!pip install kiwipiepy

In [ ]:
# 구글 드라이브 연결을 위한 기본 세팅
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
## 문서 ID로 실제 파일 불러오기
# 실습을 위한 역대 대통령 취임사: 노무현, 이명박, 박근혜, 문재인
## https://drive.google.com/open?id=1VEdcJErjAjj2ul5gnS0-IgKrpGy0NEAK

rawdata_downloaded = drive.CreateFile({'id': '1VEdcJErjAjj2ul5gnS0-IgKrpGy0NEAK'})
rawdata_downloaded.GetContentFile('rawdata.tsv')

In [ ]:
# "rawdata.txt" 파일의 내용을 "원본데이터" 변수로 불러오기
import pandas as pd
원본데이터 = pd.read_csv('rawdata.tsv', sep="\t")

In [ ]:
원본데이터

   id type                                               text
0   1  노무현  존경하는 국민 여러분.   오늘 저는 대한민국의 제16대 대통령에 취임하기 위해 이...
1   2  이명박  존경하는 국민 여러분!  700만 해외동포 여러분, 이 자리에 참석하신 노무현, 김...
2   3  박근혜  희망의 새 시대를 열겠습니다.  존경하는 국민 여러분! 700만 해외동포 여러분! ...
3   4  문재인  존경하고 사랑하는 국민 여러분, 감사합니다. 국민 여러분의 위대한 선택에 머리 숙여...

In [ ]:
# "원본데이터"를 대상으로 "mecab"를 사용해서 형태소 분석하기
from itertools import product
import numpy as np
from kiwipiepy import Kiwi
kiwi = Kiwi()

저장공간  = []
for index, row in 원본데이터.iterrows():# 원본데이터의 컬럼(열)을 불러와서 반복할 준비!
    대상텍스트 = row[2] # 분석에서 사용할 텍스트 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    분류 = row[1] # 분석에서 사용할 분류 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    형태소 = list(kiwi.tokenize(대상텍스트))  # mecab의 pos 기능을 활용해서 대상 텍스트를 형태소 분리한다.
    형태소종합 = pd.DataFrame.from_records(형태소) # 형태소에 저장된 내용을 데이터프레임 형태로 해서 형태소종합으로 저장한다.
    형태소종합['type'] = 분류 # 형태소종합에 분류정보를 추가한다.
    형태소종합['count'] = 1   # 형태소종합에 카운트정보를 추가한다.   
    저장공간.append(형태소종합) # 형태소종합의 내용을 종합하여 저장한다.

In [ ]:
# "저장공간" 변수의 내용을 데이터프레임 형식으로 변환해서 "분석통합" 변수에 저장한다.
분석통합 = pd.concat(저장공간)
분석통합

        0    1     2  3 type  count
0      존경  NNG     0  2  노무현      1
1       하  XSV     2  1  노무현      1
2       는  ETM     3  1  노무현      1
3      국민  NNG     5  2  노무현      1
4     여러분   NP     8  3  노무현      1
...   ...  ...   ... ..  ...    ...
1627    .   SF  3173  1  문재인      1
1628   감사  NNG  3175  2  문재인      1
1629    하  XSV  3177  1  문재인      1
1630  ᆸ니다   EF  3177  3  문재인      1
1631    .   SF  3180  1  문재인      1

[11809 rows x 6 columns]

In [ ]:
# "분석통합" 변수의 컬럼(열) 이름 변경
분석통합.columns = ["형태소", "품사", "start", "len", "분류", "카운트"]
# "분석통합" 변수의 저장 내용 확인
분석통합

      형태소   품사  start  len   분류  카운트
0      존경  NNG      0    2  노무현    1
1       하  XSV      2    1  노무현    1
2       는  ETM      3    1  노무현    1
3      국민  NNG      5    2  노무현    1
4     여러분   NP      8    3  노무현    1
...   ...  ...    ...  ...  ...  ...
1627    .   SF   3173    1  문재인    1
1628   감사  NNG   3175    2  문재인    1
1629    하  XSV   3177    1  문재인    1
1630  ᆸ니다   EF   3177    3  문재인    1
1631    .   SF   3180    1  문재인    1

[11809 rows x 6 columns]

In [ ]:
# "분석통합" 변수의 내용을 형태소, 품사, 분류가 같은 것을 합치고, 카운트의 총합을 구해서 "그룹통합" 변수에 저장한다.
그룹통합 = 분석통합.groupby(['형태소', '품사', "분류"])['카운트'].sum()
# "그룹통합" 변수의 내용을 데이터프레임 형식으로 변환해서 "그룹통합" 변수에 저장한다.
그룹통합 = pd.DataFrame(그룹통합)
# "그룹통합" 변수의 저장 내용 확인
그룹통합

             카운트
형태소 품사  분류
!   SF  박근혜    9
        이명박    9
'   SS  노무현   10
(   SS  이명박    4
)   SS  이명박    4
...          ...
힘   NNG 박근혜    5
        이명박    5
힘들  VA  문재인    1
힘쓰  VV  이명박    3
힘차  VA  이명박    1

[2915 rows x 1 columns]

In [ ]:
# "그룹통합" 변수의 내용을 "형태소분석결과.csv" 파일로 저장한다.
# header는 컬럼(열) 정보의 포함 여부이다.
# encoding은 문자코드를 선택하는 것이다. python에서는 기본적으로 utf-8(유니코드)를 사용한다.

그룹통합.to_csv('형태소분석결과.csv', header='true', encoding='utf-8')

In [ ]:
# 매개 변수로 저장할 파일 이름을 전달합니다.
분석통합.to_excel('형태소분석결과.xlsx')